h1{
    color:black;
}
p{
    color:black;
}
#texto1{
    color:black;
}

#texto2 {
color: black;

}
#texto3{
    color: black;
} 
.destaque{
    color: rgb(255,0,255);
    font-size: 35;
    font-style: italic;
}
    
   
